In [1]:
# Dependencies 
import pandas as pd
import requests
import json
from config import API_KEY, username, password, host, port
from datetime import date
import numpy as np
from sqlalchemy import create_engine
today = date.today()

## Extract json files into DataFrames

In [2]:
# Games DataFrame
games_id = []
games_name = []
games_slug = []
released = []
rating = []
ratings_count = []
playtime = []
platform_id = []
platform = []
genres = []
stores = []

# Getting games data by using for loop trough pages
# for i in range(1 , 11835):
for i in range(1 , 200):
    # URL for GET requests to retrieve games data
    url = f"https://api.rawg.io/api/games?key={API_KEY}&page_size=40&dates=2017-01-01,{today}&page={i}"
    # Print the games_details object to the console
    games_details = requests.get(url).json()
#     print(f"Retriveing info for page {i}")
#   using for loop trough page-size
    for n in range(0, 39):
        try:
            games_id.append(games_details['results'][n]['id'])
            games_name.append(games_details['results'][n]['name'])
            games_slug.append(games_details['results'][n]['slug'])
            released.append(games_details['results'][n]['released'])
            rating.append(games_details['results'][n]['rating'])
            ratings_count.append(games_details['results'][n]['ratings_count'])
            playtime.append(games_details['results'][n]['playtime'])
            platform_id.append(games_details['results'][n]['platforms'][0]['platform']['id'])
            platform.append(games_details['results'][n]['platforms'][0]['platform']['name'])
            genres.append(games_details['results'][n]['genres'][0]['name'])
            stores.append(games_details['results'][n]['stores'][0]['store']['name'])
            
        except:
# #             print("Couldn't find the data")
#             platform_id.append(None)
#             platform.append(None)  
            genres.append(None)
            stores.append(None)

In [3]:
# Create games DataFrame
a = {'games_id' : games_id ,
     'games_name' : games_name,
     'games_slug': games_slug, 
     'released':released, 
     'rating' : rating, 
     'ratings_count':ratings_count, 
     'playtime':playtime,
     'platform':platform, 
     'platform_id':platform_id, 
     'genres':genres, 
     'stores':stores}

games_df = pd.DataFrame.from_dict(a, orient='index')
games_df = games_df.transpose()
games_df.index = [x for x in range(1, len(games_df.values)+1)]
games_df.index.name = 'id'
games_df.head(70)

,games_id,games_name,games_slug,released,rating,ratings_count,playtime,platform,platform_id,genres,stores
id,,,,,,,,,,,
1,28,Red Dead Redemption 2,red-dead-redemption-2,2018-10-26,4.56,2900,20,PC,4,Adventure,Steam
2,58175,God of War,god-of-war-2,2018-04-20,4.6,2877,20,PlayStation 4,18,Adventure,PlayStation Store
3,32,Destiny 2,destiny-2,2017-09-06,3.63,1658,4,PC,4,Shooter,Steam
4,278,Horizon Zero Dawn,horizon-zero-dawn,2017-02-28,4.35,2400,7,PC,4,Adventure,Steam
5,10035,HITMAN,hitman,2017-11-16,3.92,1358,7,PC,4,Shooter,Steam
...,...,...,...,...,...,...,...,...,...,...,...
66,398423,Gothic Playable Teaser,gothic-playable-teaser,2019-12-14,2.77,115,1,PC,4,RPG,Steam
67,137,Mass Effect: Andromeda,mass-effect-andromeda,2017-03-21,3.23,761,23,PC,4,Action,Steam
68,59359,A Plague Tale: Innocence,a-plague-tale-innocence,2019-05-13,4.18,556,5,PC,4,Adventure,Steam
69,29338,Days Gone,days-gone,2019-04-26,3.93,480,0,PlayStation 4,18,Adventure,PlayStation Store
70,327999,Dota Underlords,dota-underlords,2020-02-25,3.22,444,3,PC,4,Casual,Steam

In [4]:
# Check the lenght of each columns
print(len(games_id), len(games_name), len(games_slug),len(released), len(rating), len(ratings_count),len(playtime), len(platform_id), len(platform), len(genres), len(stores))

5811 5811 5811 5811 5811 5811 5811 5810 5810 5842 5811

In [5]:
# Check the lenght of games DataFrame
len(games_df)

5842

In [6]:
# Publishers DataFrame
publishers_id = []
publishers_name = []
slug_name = []
games_count = []
games_id = []

# Getting publishers data by using for loop trough pages
# for i in range(1, 1124):
for i in range(1, 200):
    # URL for GET requests to retrieve publishers data
    url = f"https://api.rawg.io/api/publishers?key={API_KEY}&page_size=40&page={i}"
#     Print the publishers_details object to the console
    publishers_details = requests.get(url).json()
#   using for loop trough page-size
    for n in range(0, 39):
        for j in range(0 , len(publishers_details['results'][n]['games'])):
            try:
                publishers_id.append(publishers_details['results'][n]['id'])
                publishers_name.append(publishers_details['results'][n]['name'])
                slug_name.append(publishers_details['results'][n]['slug'])
                games_count.append(publishers_details['results'][n]['games_count'])
                games_id.append(publishers_details['results'][n]['games'][j]["id"])
            except:
#             print("Couldn't find the data")
                games_id.append(None)

In [7]:
# Create publishers DataFrame
a = {'publishers_id': publishers_id,
     'publishers_name': publishers_name,
     'slug_name': slug_name,
     'games_count': games_count,
     'games_id':games_id}


publishers_df = pd.DataFrame.from_dict(a, orient='index')
publishers_df = publishers_df.transpose()
publishers_df.index = [x for x in range(1, len(publishers_df.values)+1)]
publishers_df.index.name = 'id'
publishers_df

,publishers_id,publishers_name,slug_name,games_count,games_id
id,,,,,
1,354,Electronic Arts,electronic-arts,1226,4200
2,354,Electronic Arts,electronic-arts,1226,12020
3,354,Electronic Arts,electronic-arts,1226,4252
4,354,Electronic Arts,electronic-arts,1226,4806
5,354,Electronic Arts,electronic-arts,1226,4570
...,...,...,...,...,...
17572,5348,Miria Studios,miria-studios,1,12438
17573,5549,Apeirogon Games,apeirogon-games,2,29271
17574,5549,Apeirogon Games,apeirogon-games,2,12692
17575,9370,Divergent Game Studio,divergent-game-studio,2,21770
17576,9370,Divergent Game Studio,divergent-game-studio,2,20449

In [8]:
# Check the lenght of publishers DataFrame
len(publishers_df)

17576

In [9]:
# Developers DataFrame
developers_id = []
developers_name = []
slug_name = []
games_count = []
games_id = []

# Getting developers data by using for loop trough pages
# for i in range(1, 5535):
for i in range(1, 200):
    # URL for GET requests to retrieve developers data
    url = f"https://api.rawg.io/api/developers?key={API_KEY}&page_size=40&page={i}"
    #Print the developers_details object to the console
    developers_details = requests.get(url).json()
    #using for loop trough page-size
    for n in range(0, 39):
        for j in range(0 , len(developers_details['results'][n]['games'])):
            try:
                developers_id.append(developers_details['results'][n]['id'])
                developers_name.append(developers_details['results'][n]['name'])
                slug_name.append(developers_details['results'][n]['slug'])
                games_count.append(developers_details['results'][n]['games_count'])
                games_id.append(developers_details['results'][n]['games'][j]["id"])
            except:
#             print("Couldn't find the data")
                games_id.append(None)

In [10]:
# Create developers DataFrame
a = {'developers_id': developers_id,
     'developers_name': developers_name,
     'slug_name': slug_name,
     'games_count': games_count,
     'games_id':games_id}


developers_df = pd.DataFrame.from_dict(a, orient='index')
developers_df = developers_df.transpose()
developers_df.index = [x for x in range(1, len(developers_df.values)+1)]
developers_df.index.name = 'id'
developers_df

      developers_id    developers_name          slug_name games_count games_id
id
1             18893  Feral Interactive  feral-interactive         105     7689
2             18893  Feral Interactive  feral-interactive         105    11973
3             18893  Feral Interactive  feral-interactive         105    10035
4             18893  Feral Interactive  feral-interactive         105     4427
5             18893  Feral Interactive  feral-interactive         105    10754
...             ...                ...                ...         ...      ...
19868         23021  Josh Tam Universe  josh-tam-universe           3    51748
19869         23021  Josh Tam Universe  josh-tam-universe           3    64825
19870         11433       Manuel Pazos       manuel-pazos           1    19783
19871          5240    Maruf ARTUKOĞLU    maruf-artukoglu           2   216352
19872          5240    Maruf ARTUKOĞLU    maruf-artukoglu           2    11266

[19872 rows x 5 columns]

In [11]:
# Check the lenght of developers DataFrame
len(developers_df)

19872

## Transform Games DataFrame

In [12]:
# Create a filtered dataframe from specific columns
games_cols = ["games_id","games_name","games_slug","released","rating","ratings_count","playtime","platform_id","platform","genres","stores"]
games_transformed= games_df[games_cols].copy()

# Rename the column headers
games_transformed = games_transformed.rename(columns={"games_id": "games_id",
                                                      "games_name": "games_name",
                                                      "games_slug": "games_slug",
                                                      "released": "released",
                                                      "rating": "rating",
                                                      "ratings_count": "ratings_count",
                                                      "playtime": "playtime",
                                                      "platform_id":"platform_id",
                                                      "genres": "genres",
                                                      "stores":"stores"})

# Clean the data by dropping the rows with 'None' values
games_transformed = games_transformed.replace(to_replace='None', value=np.nan).dropna()
games_transformed.head()

,games_id,games_name,games_slug,released,rating,ratings_count,playtime,platform_id,platform,genres,stores
id,,,,,,,,,,,
1,28.0,Red Dead Redemption 2,red-dead-redemption-2,2018-10-26,4.56,2900.0,20.0,4.0,PC,Adventure,Steam
2,58175.0,God of War,god-of-war-2,2018-04-20,4.60,2877.0,20.0,18.0,PlayStation 4,Adventure,PlayStation Store
3,32.0,Destiny 2,destiny-2,2017-09-06,3.63,1658.0,4.0,4.0,PC,Shooter,Steam
4,278.0,Horizon Zero Dawn,horizon-zero-dawn,2017-02-28,4.35,2400.0,7.0,4.0,PC,Adventure,Steam
5,10035.0,HITMAN,hitman,2017-11-16,3.92,1358.0,7.0,4.0,PC,Shooter,Steam

In [13]:
# Check the lenght of games_transformed DataFrame
len(games_transformed)

5578

## Transform Publishers DataFrame

In [14]:
# Create a filtered dataframe from specific columns
publishers_cols = ["games_id", "publishers_name", "slug_name", "publishers_id"]
publishers_transformed= publishers_df[publishers_cols].copy()

# Rename the column headers
publishers_transformed = publishers_transformed.rename(columns={"games_id": "games_id",
                                                        "publishers_name": "publishers",
                                                        "slug_name": "publishers_slug",
                                                        "publishers_id": "publishers_id"})

# Clean the data by dropping the rows with 'None' values
publishers_transformed = publishers_transformed.replace(to_replace='None', value=np.nan).dropna()
publishers_transformed.head()

    games_id       publishers  publishers_slug  publishers_id
id
1       4200  Electronic Arts  electronic-arts            354
2      12020  Electronic Arts  electronic-arts            354
3       4252  Electronic Arts  electronic-arts            354
4       4806  Electronic Arts  electronic-arts            354
5       4570  Electronic Arts  electronic-arts            354

## Transform Developers DataFrame

In [15]:
# Create a filtered dataframe from specific columns
developers_cols = ["games_id", "developers_name", "slug_name", "developers_id"]
developers_transformed= developers_df[developers_cols].copy()

# Rename the column headers
developers_transformed = developers_transformed.rename(columns={"games_id": "games_id",
                                                        "developers_name": "developers",
                                                        "slug_name": "developers_slug",
                                                        "developers_id": "developers_id"})

# Clean the data by dropping the rows with 'None' values
developers_transformed = developers_transformed.replace(to_replace='None', value=np.nan).dropna()
developers_transformed.head()

    games_id         developers    developers_slug  developers_id
id
1       7689  Feral Interactive  feral-interactive          18893
2      11973  Feral Interactive  feral-interactive          18893
3      10035  Feral Interactive  feral-interactive          18893
4       4427  Feral Interactive  feral-interactive          18893
5      10754  Feral Interactive  feral-interactive          18893

## Create database connection¶

In [27]:
# connect to local database
engine = create_engine(f"postgresql://{username}:{password}@{host}:{port}/game_db")
connection = engine.connect()

In [29]:
# Confirm tables
engine.table_names()

['games', 'publishers', 'developers']

## Load DataFrames into database

In [30]:
games_transformed.to_sql(name='games', con=engine, if_exists='append', index=True)

In [31]:
publishers_transformed.to_sql(name='publishers', con=engine, if_exists='append', index=True)

In [32]:
developers_transformed.to_sql(name='developers', con=engine, if_exists='append', index=True)